# -------------------------
# Python / Poetry
# -------------------------
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.poetry/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# VS Code
# -------------------------
.vscode/*
!.vscode/settings.json

# -------------------------
# Spark / Hadoop
# -------------------------
spark-warehouse/
metastore_db/
derby.log

# -------------------------
# OS / Misc
# -------------------------
.DS_Store
Thumbs.db
.env

# Coverage
htmlcov/
.coverage
.coverage.*

# -------------------------
# Editor / IDE artifacts
# -------------------------
*.swp
*.swo
*.tmp
*.bak
*~

# Ruff / Pytest
.ruff_cache/
.pytest_cache/